:root {
    --color-shadow: grey;
    --section-padding: 8px;
    --section-margin: 8px;
    --border-radius-default: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    text-align: center;
    text-decoration: none;
    border: none;
    background: none;
}

body {
    background: rgb(54, 54, 54);
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

header {
    padding: var(--section-padding);
    /* margin: var(--section-margin); */
    background: purple;
    text-align: center;
}



#newBookForm {
    align-self: center;
    padding: var(--section-padding);
    border: solid 2px;
    width: fit-content;
}

.form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#book-read-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#unread {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    opacity: 1;
    color: red;
}

input[type=checkbox]:checked ~ #unread{
    opacity: 0.1;
}

#read {
    opacity: 0.1;
}

input[type=checkbox]:checked ~ #read{
    color: green;
    opacity: 1;
}

.checkbox-container {
    grid-column: 2 / 3;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bookDiv {
    padding: var(--section-padding);
    margin: var(--section-margin);
}

/* toggle in label designing */
.toggle {
    position : relative ;
    display : inline-block;
    width : 100px;
    height : 52px;
    background-color: red;
    border-radius: 30px;
    border: 2px solid gray;
}

/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}

/* Toggle text
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
} */

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 49px;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: green;
}

/* Checkbox vanished */
.checkbox {
    display : none;
}